SERVER_PORT=8080

# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT
APP_JWT_SECRET=
APP_JWT_ACCESS_TOKEN_EXPIRATION=900000
APP_JWT_REFRESH_TOKEN_EXPIRATION=604800000

# CORS
APP_CORS_ALLOWED_ORIGINS=http://localhost:5173

# Supabase Storage
SUPABASE_STORAGE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_PUBLIC_URL_BASE=

# S3 / Supabase Storage
S3_ENDPOINT=
S3_REGION=ap-southeast-1
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=smartshop

# Payment
ESEWA_ENABLED=false
KHALTI_ENABLED=false

# Admin Bootstrap
BOOTSTRAP_ENABLED=true
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
BOOTSTRAP_ADMIN_FIRST_NAME=Super
BOOTSTRAP_ADMIN_LAST_NAME=Admin

# Email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=SmartShop Platform